body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
strong{
    color: brown;
}
.header{
    border-left: 4px solid rgb(177, 64, 64) ;
    border-radius: 2px;

}
#side-line{
    border-left: 5px solid tomato;
    border-radius: 2px
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 2%;
    margin: auto;
}
.half-width img{
    width: 80%;
}

#link-btn{
    text-decoration:none ;
    background-color: rgb(8, 107, 124);
    padding: 10px 35px;
    color: rgb(110, 15, 9);
    border-radius: 6px;
    font-weight: 900;
    box-shadow: 2px 1px 12px rgb(94, 92, 92);

}



span{
    color: orangered;
    font-size:50px;
}
#my-mission{
    text-align: center;
}
.ex-item{
    box-shadow:10px 10px 17px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 10px;
    background-color: rgb(165, 45, 75);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}

.ex-item1{
    box-shadow:10px 10px 17px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 10px;
    background-color: rgb(141, 104, 189);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}
.ex-item2{
    box-shadow:10px 10px 16px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 3.5%;
    padding-left: 10px;
    background-color: rgb(96, 131, 103);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}
.ex-item img{
    border-radius:10px;
    padding: 5px;
    height: 175px;
}
.ex-item1 img{
    border-radius:10px;
}
.ex-item2 img{
    border-radius:10px;
}
#lastpic{
    border-radius: 15px;
}

.log-in{
    text-align: center;
    padding: 0px;
    border: 6px solid rgb(24, 23, 23);
    width:260px ;
    border-radius:13px ;
    box-shadow: 5px 4px 4px rgb(235, 90, 6);
background-color: rgb(94, 92, 92);
}
#input{
    border: 1px solid rgb(110, 60, 60);
    border-radius:17px ;
    font-weight: 900;
    height: 30px;
    width:220px ;
    color: rgb(30, 43, 32);
    background-color: rgb(7, 0, 0);
    padding: 2px;

}
.log-in h1{
    color: red;
}
#link{
    text-decoration:none ;
}
