body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
strong{
    color: brown;
}
.header{
    border-left: 4px solid rgb(177, 64, 64) ;
    border-radius: 2px;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 2%;
    margin: auto;
}
.half-width img{
    width: 80%;
}
#link-btn{
    text-decoration:none ;
    background-color: tomato;
    padding: 10px 30px;
    color: rgb(59, 11, 59);
    border-radius: 6px;
    font-weight: 800;
}
span{
    color: orangered;
}
#my-mission{
    text-align: center;
}
.ex-item{
    box-shadow:10px 10px 17px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 10px;
    background-color: rgb(165, 45, 75);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}

.ex-item1{
    box-shadow:10px 10px 17px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 10px;
    background-color: rgb(141, 104, 189);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}
.ex-item2{
    box-shadow:10px 10px 16px rgb(163, 163, 130);
    width:30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 10px;
    background-color: rgb(96, 131, 103);
    height: 490px;
    width: 650px;
    border-radius: 8px;
}
.ex-item img{
    border-radius:10px;
    padding: 5px;
    height: 175px;
}
.ex-item1 img{
    border-radius:10px;
}
.ex-item2 img{
    border-radius:10px;
}